<div>
    <div class="button_bar">
        <table>
            <tr>
                <td>
                    <button class="create_button">Create Network ACL</button>
                </td>
                <td>                    
                    <ul id="action_menu">
                        <li style="z-index: 1000">
                            <a id="action_button">Actions</a>
                            <ul>
                                <li><a>Delete</a></li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Network ACL ID</th>
                <th>VPC ID</th>
                <th>Default</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>
<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li><a href="#inbound_tab">Inbound</a></li>
            <li><a href="#outbound_tab">Outbound</a></li>
            <li><a href="#associations_tab">Associations</a></li>
        </ul>
        <div id="inbound_tab" class="tab">
            <div class="row">
                <div class="col-lg-5">
                    <form>
                        <fieldset>
                            <legend>Inbound Rules Ingress</legend>
                            <button id="add_rule_button" class="add-button">Add Rule</button>
                            <button id="remove_rule_button" class="remove-button">Remove Rule</button>
                        </fieldset>
                    </form>
                </div>
                <div class="col-lg-7">
                    <table id="inbound_table" cellpadding="0" cellspacing="0" border="0" class="sub-table table table-striped table-bordered AWS">
                        <thead>
                            <tr>
                                <th>Rule #</th>
                                <th>Type</th>
                                <th>Protocol</th>
                                <th>Port Range/ ICMP Type</th>
                                <th>Source</th>
                                <th>Rule Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>  
        </div>
        <div id="outbound_tab" class="tab">
            <div class="row">
                <div class="col-lg-5">
                    <form>
                        <fieldset>
                            <legend> Outbound Rules Ingress</legend>
                            <button id="add_rule_button" class="add-button">Add Rule</button>
                            <button id="remove_rule_button" class="remove-button">Remove Rule</button>
                        </fieldset>
                    </form>
                </div>
                <div class="col-lg-7">
                    <table id="outbound_table" cellpadding="0" cellspacing="0" border="0" class="sub-table table table-striped table-bordered AWS">
                        <thead>
                            <tr>
                                <th>Rule #</th>
                                <th>Type</th>
                                <th>Protocol</th>
                                <th>Port Range/ ICMP Type</th>
                                <th>Source</th>
                                <th>Rule Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>      
        </div>
        <div id="associations_tab" class="tab">
            <div class="row">
                <div class="col-lg-5">
                    <form>
                        <fieldset>
                            <legend> Associations Ingress</legend>
                            <button id="add_association_button">Associate</button>
                            <button id="remove_association_button" class="remove-button">Disassociate</button>
                        </fieldset>
                    </form>
                </div>
                <div class="col-lg-7">
                    <table id="associations_table" cellpadding="0" cellspacing="0" border="0" class="sub-table table table-striped table-bordered AWS">
                        <thead>
                            <tr>
                                <th>Association ID</th>
                                <th>Network ACL ID</th>
                                <th>Subnet ID</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>  
        </div>
    </div>
</script>